HUBOT_IRC_ROOMS="#mocha"
HUBOT_IRC_SERVER="localhost"
HUBOT_IRC_NICK="Hubot"
HUBOT_IRC_REALNAME="Hubot"
HUBOT_IRC_USERNAME="hubot"
HUBOT_IRC_IGNORE_USERS="someuser"
HUBOT_IRC_PORT=1337
GIT_CHANNEL="#mocha"
AB_CHANNELS="#mocha"
OPER_USERNAME="changeme"
OPER_PASS="changeme"
SITE_API_KEY="changeme"
GIT_WEBHOOK="changeme"
PORT=6667
ECHO_PORT=54321