@echo off

SET HUBOT_IRC_ROOMS=#chan
SET HUBOT_IRC_SERVER=irc.server.com
SET HUBOT_IRC_NICK=nick
SET HUBOT_IRC_REALNAME=realname
SET HUBOT_IRC_USERNAME=username
SET HUBOT_IRC_IGNORE_USERS=someuser
SET GIT_CHANNEL=#chan
SET AB_CHANNELS=#chan
SET OPER_USERNAME=changeme
SET OPER_PASS=changeme
SET SITE_API_KEY=changeme
SET GIT_WEBHOOK=changeme
SET PORT=12345
SET ECHO_PORT=54321
bin/hubot.cmd -a irc -n nick

