#!/bin/sh
export HUBOT_IRC_ROOMS="#chan"
export HUBOT_IRC_SERVER="irc.server.com"
export HUBOT_IRC_NICK="nick"
export HUBOT_IRC_REALNAME="realname"
export HUBOT_IRC_USERNAME="username"
export HUBOT_IRC_IGNORE_USERS="someuser"
export GIT_CHANNEL="#chan"
export AB_CHANNELS="#chan"
export OPER_USERNAME="changeme"
export OPER_PASS="changeme"
export SITE_API_KEY="changeme"
export GIT_WEBHOOK="changeme"
export PORT=12345
export ECHO_PORT=54321
bin/hubot -a irc -n nick

